* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  width: 120rem;
  margin: auto;
  background: white; }

body {
  font-family: var(--font-family);
  color: var(--colorGrey);
  background: var(--colorBlue); }

p {
  margin: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

a {
  color: --colorGrey;
  text-decoration: none; }

img {
  max-width: 100%; }

.grid__container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr / 350px auto;
  height: 100vh; }

header {
  grid-area: header;
  min-height: 25rem;
  background: var(--colorBlue);
  color: var(--colorGrey); }
  header h1 {
    font-size: 4rem; }
  header h2 {
    font-size: 2.5rem; }
  header h1,
  header h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem; }

.picture {
  grid-area: picture;
  background-image: url(img/photo-david-caignaert.jpg);
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-self: center;
  align-self: center; }

.aside {
  grid-area: aside;
  background: chartreuse; }

.main {
  grid-area: main;
  background: cyan; }
